* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header-container {
  background-color: black;  
  padding: 20px;
} 

.header-container li {
  list-style-type: none;
  margin-right: 15px;
}

.header-container ul,
.header-container div,  
.header-container li, 
.header-container img {
  display:inline-block;
}

.header-container a, li,
.info-container a {
  color: white;
  text-decoration: none;
}

.info-container {
  background-color: rgb(161, 36, 139);
  color: white;
  padding: 50px;
}

.info-container h1 {
  font-size: 40px;
  font-weight: 900;
  color: white;
}

.info-container h1,
.info-container h2,
.info-container div {
  margin-bottom: 50px;
}

.info-button {
  background-color: black;
  width: 130px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 10px;
}

#button-one {
  float: left;
  width: 300px;
}

#button-two {
  float: right;
}

#terms {
  clear: both;
}

.buttons-container {
  width: 550px;
}

.header {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header div:nth-child(1) {
  width: 20%;
}

.header div:nth-child(2) {
  width: 75%;
  text-align: right;
}

.premium-container div {
  display: inline-block;
  margin: 30px;
}

.premium-container {
  margin: 40px 0;
  text-align: center;
}

.premium-container h2 {
  margin-bottom: 72px;
  font-size: 40px;
}

.songs-container {
  background-color: #efefef;
  height: 100vh;
  padding-top: 40px;
}

.songbox {
  background-color: white;
  width: 250px;
  padding: 40px;
}